body {
    padding: 0;
    margin: 0;
    color: #000;
    background-color: #fff;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.background {
    
} 

@font-face {
    font-family: Inter;
    src: url(./inter.ttf);
}

#table {
    width: 100%;
    text-align: center;
    border: 1px solid #A3A3A3;
    border-radius: 5px;
}

#table tr {
    color: #000;
    text-align: center;
    font-size: 16px;
}

tr td {
    border-bottom: 1px solid #A3A3A3;
    height: 32px;
}

#table tr td .action-table {
    width: 38px;
    height: 27px;
    border: none;
    border-radius: 3px;
    border: 1px solid #fff;
    cursor: pointer;
}

#table tr td .delete {
    background-color: #F00;
}

#table tr td .view {
    background-color: #FFC000;
}

#table tr td .print {
    background-color: #2253FF;
}

.action-table img {
    width: 20px;
    height: 20px;
}

#table .table-header {
    color: #FFF;
    background-color: #7232A0;
    height: 32px;
}

.aberto {
    border: 1px solid #000;
    border-radius: 4px;
}
